services:
  naveenbasyal_com_nextjs:
    image: naveenbasyal.vercel.app
    container_name: naveenbasyal.vercel.app
    working_dir: /app
    ports:
      - "3001:3000"
    expose:
      - "3000"
    command: "npm start"
    environment:
      NODE_ENV: production
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
